<h1>Meu site</h1>
<p>aaaaaaaaaaaaaaaa</p>
<% if current_user %>
    <p> Olá <%= current_user.email %></p>
    <p> logado com sucesso </p>
<% else %>
    <p> Não está logado </p>
    <%= link_to 'Logar', new_user_session_path %>
    <%= link_to 'Criar conta', new_user_registration_path %>
<% end %>